@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



::selection {
    color: #ffffff;
    background-color: #000000;
}

body {
    @apply bg-black;
    color: #f1f1f1;
}


.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}



#main {
    top:0;
    right:0;
    bottom:0;
    left: 0;
    margin-top: -72px;
}

p {
    line-height: 1.5rem;
    @apply py-2;
}

.p-default {
    max-width:45ch;
    margin:0 auto;
    @apply px-2;
}
.p-default a {
    border-bottom: 1px solid currentColor;
    color: #a1a1a1;
}

#nav_menu {
    position:sticky;
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(0.25rem);
    transform:translateY(0);
    transition: transform ease 0.666s;
}

#nav_menu.loading{
    transform: translateY(-100%);
}

#nav_items {
    top: 72px;
    right: 0;
    bottom: 0;
    left: 0;
}
#nav_list {
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(0.25rem);
}
#logo {
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    text-align:center;
}

.nav-item {
    font-size:1.5rem;
    transition: text-shadow ease 0.3s;
}
.nav-item.active {
    text-shadow: 0px 0px 1rem rgba(255, 255, 255, 1.09);
}
.nav-item:hover {
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
}
.hero {
    transition: filter ease 0.3s;
    @apply container;
    @apply px-4;
    @apply px-2;
    @apply mx-auto;
    @apply relative;
    @apply block;
    @apply lg:flex;
    @apply lg:flex-row;
    z-index:0;
    min-height:29rem;
    overflow:hidden;
}
.hero-text {
    z-index:2;
    padding-bottom:4rem;
    text-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(0deg, rgb(0 0 0), rgba(0, 0, 0, 0.0));
    transition: transform ease 1s, filter ease 2s;
}
.hero-img {
    transition: transform ease 1s, filter ease 3s;
}
.hero.loading .hero-img {
    transform:scale3d(1.5, 1.5, 1.1);
    filter:blur(2rem);
}
.hero-text h1 {
    filter: blur(0);
}
.hero.loading .hero-text h1 {
    transition: transform ease 1s, fiter 1.5s ease;
    filter: blur(2rem);
}
.hero-text hr {
    filter: blur(0);
}
.hero.loading hr {
    transition: transform ease 1s, fiter 1.5s ease;
    filter: blur(2rem);
}
.hero.loading h3 {
   
    filter: blur(2rem);
}
.hero h3 {
    transition: transform ease 1s, fiter 1.5s ease;
    filter: blur(0);
}
.hero.loading .btn {
    transform: translateY(300%);
    filter:blur(0.5rem);
}
.hero .btn {
    transition: transform ease 0.3s, fitler ease 0.3s;

}
.hero .hero-img {
    transform:translateY(0);
}
.hero.loading .hero-text {
    /* transform:translateY(100%); */
}


.hero-img {
    z-index:1;
    margin:0 auto;
    width:auto;
    transition: position ease 0.3, width ease 0.3;
}

.rule {
    max-width: 9rem;
    @apply mx-auto;
    @apply my-2;

    
}
.rule.rule-lg {
    width:14rem;
}
.btn {
    @apply py-3;
    @apply px-4;
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;

    border:1px solid #f1f1f1;
    color:#ffffff;
    background: rgba(0, 0, 0, 0.25);
    line-height:1em;

    transition:transform ease 0.3s;



}
.btn.btn-social {
    @apply flex;
}

.btn::selection {
    background:transparent;
    color:initial;
}
.btn:hover {
    transform:scale(1.05);
}
.btn-icon {
    max-height:1em;
    width:auto;
}

#social_list {
    @apply grid;
    @apply grid-cols-2;
    @apply gap-2;
    @apply mx-auto;
    max-width:60ch;
}

@media (min-width: 414px) {
    
}


@media (min-width: 768px) {
    #nav_list {
        background:transparent;
        backdrop-filter:none;
    }
    .nav-item.active {
    }
    .hero {
        min-height:89ch;
    }
    .hero-img {
        width:100%;
        height:auto;
    } 
    .nav-item {
        @apply px-2;
    }
    .btn.cta {
        @apply px-5;
        @apply py-3;
        @apply text-2xl;
    }
    .hero-text h3 {
        font-size:2.25rem;
    }

    .hero-text h1 {
        font-size: 4rem;
    }
    .p-default {
        font-size:1.5rem;
        line-height:1.125em;
    }
    #social_list {
        @apply gap-4;
    }
}


@media (min-width: 1024px) { 
    .hero-img {
        width:75%;
        height:auto;
        box-shadow: 0px 0px 3rem rgba(0, 0, 0, 1.0);

    } 
    .hero-img-desktop {
        width:100%;
        height:auto;
        z-index:0;
        filter:blur(2rem);
        box-shadow:inset  0px 0px 3rem rgba(0, 0, 0, 1.0);
    }
}

@media (min-width: 1280px) { 
    .hero-img {
        height: auto;
        width: 50%;
        z-index: 1;
        top: -25%;
    } 
    .hero-text {
        margin-top:10rem;
    }

}

@media (min-width: 1536px) {

}