@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

::selection {
    color: #ffffff;
    background-color: #000000;
}

body {
    @apply bg-black;
    color: #f1f1f1;
}

#main {
    top:0;
    right:0;
    bottom:0;
    left: 0;
    margin-top: -72px;
}

p {
    line-height: 1.5rem;
    @apply py-2;
}

.p-default {
    max-width:45ch;
    margin:0 auto;
    @apply px-2;

    a {
        border-bottom: 1px solid currentColor;
        color: #a1a1a1;
    }
}

#nav_menu {
    position:sticky;
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(0.25rem);
}

#nav_items {
    top: 72px;
    right: 0;
    bottom: 0;
    left: 0;
}
#nav_list {
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(0.25rem);
}
#logo {
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    text-align:center;
    color:#ffffff;
}

#the_a {
    color:red;
}
#the_r {
    color:blue;
}

.nav-item {
    font-size:1.5rem;
    transition: text-shadow ease 0.3s;
    &:hover {
        text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
    }
}

.app {

}

.hero {
    @apply container;
    @apply px-4;
    @apply px-2;
    @apply mx-auto;
    @apply relative;
    @apply block;
    z-index:0;
    min-height:29rem;
    overflow:hidden;
}
.hero-text  {
    z-index:2;
    padding-bottom:4rem;
    text-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(0deg, rgb(0 0 0), rgba(0, 0, 0, 0.0));
}

.hero-img {
    z-index:1;
    margin:0 auto;
    width:auto;
    transition: position ease 0.3, width ease 0.3;
}

.rule {
    max-width: 9rem;
    @apply mx-auto;
    @apply my-2;

    &.rule-lg {
        width:14rem;
    }
}
.btn {
    @apply py-3;
    @apply px-4;
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;

    border:1px solid #f1f1f1;
    color:#ffffff;
    background: rgba(0, 0, 0, 0.25);
    line-height:1em;
    &.btn-social {
        @apply flex;
    }

    &::selection {
        background:transparent;
        color:initial;
    }

    &:hover {
        transform:scale(1.5);
    }
}

.btn-icon {
    max-height:1em;
    width:auto;
}

#social_list {
    @apply grid;
    @apply grid-cols-2;
    @apply gap-2;
    @apply mx-auto;
    max-width:60ch;
}

@media (min-width: 414px) {
    
}


@media (min-width: 768px) {
    #nav_list {
        background:transparent;
        backdrop-filter:none;
    }
    .hero {
        min-height:89ch;
    }
    .hero-img {
        width:100%;
        height:auto;
    } 
    .nav-item {
        @apply px-2;
    }
    .btn.cta {
        @apply px-5;
        @apply py-3;
        @apply text-2xl;
    }
    .hero-text  {
        h1 {
            font-size: 4rem;
        }
        h3 {
            font-size:2.25rem;
        }
    }
    .p-default {
        font-size:1.5rem;
        line-height:1.125em;
    }
    #social_list {
        @apply gap-4;
    }
}


@media (min-width: 1024px) { 
    .hero-img {
        width:75%;
        height:auto;
        box-shadow: 0px 0px 3rem rgba(0, 0, 0, 1.0);

    } 
    .hero-img-desktop {
        width:100%;
        height:auto;
        z-index:0;
        filter:blur(2rem);
        box-shadow:inset  0px 0px 3rem rgba(0, 0, 0, 1.0);
    }
}

@media (min-width: 1280px) { 
    .hero-img {
        height: auto;
        width: 50%;
        z-index: 1;
        top: -25%;
    } 
    .hero-text {
        margin-top:10rem;
    }

}

@media (min-width: 1536px) {

}