@page "/bio"


<section>
    <header class="hero lg:flex lg:flex-row">
        <img class="hero-img-desktop absolute top-0 right-0 bottom-0 left-0 hidden lg:block" src="/img/alec-playing-7-string-topaz-upscale-1920w.jpg" alt="Alec Rozsa playing a 7-string guitar" />
        <img class="hero-img absolute top-0 right-0 bottom-0 left-0" src="/img/alec-playing-7-string-topaz-upscale-1920w.jpg" alt="Alec Rozsa playing a 7-string guitar" />
        <div class="hero-text absolute right-0 bottom-0 left-0 text-center">
            <h1 class="text-6xl mt-6 text-white">Alec Rozsa</h1>
            <hr class="rule" />
            <h3 class="text-3xl uppercase mb-6">Biography</h3>
        </div>
    </header>
</section>
<section id="bio">
    <div class="container mx-auto">
        <p class="p-default">
            Alec Rozsa is a <b>remarkable</b> self-taught musician with the rare gift of <b>perfect pitch</b>, a skill that has propelled his versatility across various musical styles. Mastering both 6- and 7-string guitars, Alec showcases <b>exceptional skill</b> and <b>creativity</b> that have earned him recognition within the metal scene, where he is known for his <b>powerful</b> contributions to various bands.
        </p>
        <p class="p-default">
            Alec's talent extends <b>beyond performance</b>; he is highly regarded for his <b>orchestral arrangements</b>. His <b>passion</b> for <b>composition</b> has led him to offer bespoke film scoring services on <a href="/fiverr"><b>Fiverr</b></a>, where he collaborates with clients to create <b>immersive</b>, <b>original</b> soundscapes.
        </p>
        <p class="p-default">
            One pivotal moment in Alec's career was his symphonic adaptations of the <a href="https://www.youtube.com/AlecRozsa">Dragon Ball Z soundtrack</a>, which garnered <b>widespread acclaim</b> and accumulated <b>thousands</b> of views online. These adaptations showcased his ability to reinterpret beloved themes with a symphonic twist that resonated with fans.
        </p>
        <p class="p-default">
            In addition to these achievements, Alec has pursued solo projects under the names <b>Archangel</b> and <b>Idolum</b>, which have cultivated a dedicated cult following. He is also actively composing and performing live with the band <b>Amiensus</b>, continuing to expand his influence in the music world.
        </p>
    </div>
</section>