@using Client.Components

@page "/"

<PageTitle>Alec Rozsa | Home</PageTitle>

<section>
    <Hero >
        <img class="hero-img-desktop absolute top-0 right-0 bottom-0 left-0 hidden lg:block" src="/img/alec-playing-7-string-topaz-upscale-1920w.jpg" alt="Alec Rozsa playing a 7-string guitar" />
        <img class="hero-img absolute top-0 right-0 bottom-0 left-0" src="/img/alec-playing-7-string-topaz-upscale-1920w.jpg" alt="Alec Rozsa playing a 7-string guitar" />
        <div class="hero-text absolute right-0 bottom-0 left-0 text-center">
            <h1 class="text-6xl mt-6 text-white">Alec Rozsa</h1>
            <hr class="rule" />
            <h3 class="text-3xl uppercase mb-6">Composer</h3>
            <a href="/my-fiverr" class="btn cta">Hire Me!</a>
        </div>
    </Hero>
</section>
<SocialSection/>   